:root {
    --pink: #F2B5B6;
    --light-gray: #E2E2E2;
    --dark-pink: #A46578;
    --dark: #543F45;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  
  html {
    font-size: 18px;
  }

  body{
    background-image: linear-gradient(to right top, #a46578, #b37383, #c2828e, #d0919a, #dfa0a6, #dfa0a6, #dfa0a6, #dfa0a6, #d0919a, #c2828e, #b37383, #a46578);
  }
   
  .navbar-brand {
    font-size: 1.5em;
    color: var(--dark-pink);
    transition: .5s;
  }
  
  .nav-link {
    color: var(--dark);
    transition: .5s;
  }
  
  .nav-link:hover, .navbar-brand:hover {
    color: var(--pink);
  }
  
  .btn {
    background-color: var(--dark-pink);
    color: whitesmoke;
    transition: .5s;
  }
  
  .btn:hover {
    background-color: var(--pink);
    color: var(--dark-pink);
  }

  .call-to-action, .card-body button{
    font-weight: 700;
  }
  
  .banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-banner {
    text-align: center;
  }
  
  .content-banner .main-title {
    font-size: 5em;
    font-weight: 700;
    color: var(--pink);
    text-shadow: 0 0 20px rgba(0, 0, 0, .6);
    animation: 2s ease-in-out infinite titleAnimation;
  }
  
  @keyframes titleAnimation {
    0%   { text-shadow: 0 0 3px rgba(0, 0, 0, .6); }
    50%  { text-shadow: 0 0 20px rgba(0, 0, 0, .6); }
    100% { text-shadow: 0 0 3px rgba(0, 0, 0, .6); }
  }
  
  .content-banner h2 {
    color: var(--pink);
    text-shadow: 0 0 10px rgba(0, 0, 0, .6);
  }
  
  .seccion {
    padding-top: 80px;
  }

  .section-title {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 0.5em;
  }

  .about-me__container{
    width: 85%;
  }
  
  .about-me__photo{
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: absolute;
    top: 20px;
    left: -130px;
    z-index: 10;
  }

  .about-me__photo img{
    width: 250px;
  }

  .about-me__info{
    padding: 30px 30px 30px 130px;
  }

  .about-me__info .card-body{
    border: none;
  }

  .info-text{
    color: var(--dark);
  }

  .social-icons i {
    font-size: 1.3em;
    margin: 0.5em;
    color: whitesmoke;
    cursor: pointer;
  }

  .social-btn:hover i {
    color: var(--dark-pink);
  }

  .card-title {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--dark-pink);
  }

  .member-img{
    width: 250px;
  }

  .member__name{
    font-weight: 700;
    font-size: 1.1em;
    color: var(--dark);
  }

  .member__rol{
    font-size: .9em;
  }

  .gallery {
    columns: 5 300px;
    column-gap: 1em;
    padding: 1em;
    transition: .5s;
  }
  
  .gallery:hover img {
    filter: grayscale(1);
  }
  
  .gallery img {
    margin-bottom: 1em;
    transition: .5s;
    outline: 5px solid white;
  }
  
  .gallery img:hover {
    filter: grayscale(0);
  }

  .reference-card{
    width: 500px;
  }

  .reference-icon {
    font-size: 2rem;
  }
  
  footer {
    background-color: var(--dark);
    color: var(--light-gray);
    height: 80px;
  }

  .footer-link{
    text-decoration: none;
    font-weight: 700;
    color: var(--light-gray);
  }

  .footer-link:hover{
    color: var(--pink);
  }

  @media (max-width: 1024px) {

    .nav-link {
      padding-left: 0 !important; 
    }
  }

  @media (max-width: 991px){

    .about-me__container{
      width: 100%;
    }

    .about-me__photo{
      top: -70px;
      left: 57%;
    }

    .about-me__photo img{
      width: 200px;
    }

    .about-me__info{
      padding: 150px 30px 30px;
    }

    .gallery {
      columns: 5 150px;
    }
  }

  @media (max-width: 580px){

    html {
      font-size: 15px;
    }

    .about-me__photo{
      left: 50%;
      transform: translate(-50%);
    }

    .about-me__info{
      padding: 230px 30px 30px;
    }

    .about-me__info .section-title{
      text-align: center;
    }
  }

  @media (max-width: 350px){

    html {
      font-size: 12px;
    }
  }